body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* background-color: #f8f9fa; Warna latar belakang halaman */
    background-image: url('/assets/image/index.png');
    background-size: 70%;
    background-repeat: no-repeat;
    /* Pusatkan gambar di tengah layar */
    background-position: center center;
    /* Tetapkan tinggi minimum agar ukuran background sesuai kebutuhan */
    overflow: hidden;
    /* Gaya tambahan jika diperlukan */
    color: #fff; /* warna teks putih untuk kontras dengan gambar */
    text-align: center; /* Pusatkan teks */
    padding: 20px; /* Tambahkan padding untuk estetika */
}

.center-menu {
    height: 50vh;
    text-align: center;
}
.col a{
font-size: 5vw;
}